<launch>
<arg name="model" />
   <arg name="gui" default="FALSE" />
   <param name="use_gui" value="$(arg gui)"/>
   <param name="robot_description" command="$(find xacro)/xacro.py $(find Grijper)/urdf/hand_v2.urdf.xacro.xml" />
   <rosparam param="source_list">[jstates]</rosparam>
	<node name="controller" pkg="Grijper" type="gripper_controller"/>
	<node name="actuator" pkg="Grijper" type="gripper_actuator"/>
	<node name="reader" pkg="Grijper" type="phidget_reader"/>
	<node name="rviz_gripper" pkg="Grijper" type="rviz_gripper"/>
	<node name="rviz_object" pkg="Grijper" type="rviz_object"/>
	<node name="console" pkg="Grijper" type="gripper_console" input="screen" output="screen"/>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"  />
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find Grijper)/rviz/Grijper.rviz"/>
</launch>
