<?xml version="1.0"?>
<robot name="cylinder">
	<link name="base_cylinder">
		<visual>
			<geometry>
				<cylinder length="0.1" radius="0.03"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 .8 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.1" radius="0.03"/>
			</geometry>
		</collision>
	</link>
</robot>
